<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include("./partials/head.ejs") %>
    <title>Add new Blog</title>
  </head>
  <body>
   <%-include("./partials/script.ejs")%>
   <%- include("./partials/nav.ejs") %>
   <div class="container mt-3">
    <form action="/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Cover Image</label>
            <input type="file" class="form-control" id="coverImage" name="coverImage" aria-describedby="title">
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" aria-describedby="title">
        </div>
        <div class="mb-3">
            <label for="floatingTextarea">Body</label>
            <textarea name="body" class="form-control" id="floatingTextarea"></textarea>
           
          </div>
          <div class="mb-3">
           <button type="submit" class="btn btn-primary">Submit</button>
          </div>
    </form>
   </div>
  </body>
</html>
